<a href="https://colab.research.google.com/github/JosePabloGFnl/CEMEX-Hacks-2022/blob/main/Logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib notebook

#csv para las coordenadas de los centros de distribuci√≥n
coord = pd.read_csv('coord.csv')

In [3]:
#para mostrar el dataframe
coord

     x   y
0   60  50
1   60  50
2   60  45
3   50  75
4   40  30
5   30  50
6   60  50
7   30  50
8   20  30
9   40  30
10  60  45
11  50  75

In [4]:
#promedio de x & y para tener un punto inicial
initx = round(coord["x"].mean())
inity = round(coord["y"].mean())

In [5]:
#convertirlo a valores floar para que se haga bien la operaci√≥n
coord['x'] = coord['x'].astype(float)
coord['y'] = coord['y'].astype(float)
initx = float(initx)
inity = float(inity)

In [6]:
initx

47.0

In [7]:
inity

48.0

In [8]:
#funci√≥n para operaci√≥n matem√°tica
def distancia(value):
  round(math.sqrt((initx - value['x']) ** 2 + (inity - value['y']) ** 2))

In [11]:
#distancias entre los promedios de x & y
distancia=[]  
distancia1=[]  
distancia2=[] 
distancia3=[] 
s=[]

for i in coord["x"]:
    dist=(initx - i) ** 2
    distancia.append(dist)
    
for p in coord["y"]:
    dist1=(initx - p) ** 2
    distancia1.append(dist1)
    
def sumaListas(a,b):
    for i in range(len(a)):
        s.append(a[i]+b[i])
    return s

distancia3=sumaListas(distancia,distancia1)

for u in distancia3: 
    dist_sqrt= math.sqrt(u)
    distancia2.append(dist_sqrt)
    
coord["dist"]=distancia2



coord

       x     y       dist
0   60.0  50.0  13.341664
1   60.0  50.0  13.341664
2   60.0  45.0  13.152946
3   50.0  75.0  28.160256
4   40.0  30.0  18.384776
5   30.0  50.0  17.262677
6   60.0  50.0  13.341664
7   30.0  50.0  17.262677
8   20.0  30.0  31.906112
9   40.0  30.0  18.384776
10  60.0  45.0  13.152946
11  50.0  75.0  28.160256

In [13]:
#Promedio de la distancia final
final = round(coord["dist"].mean())
final

19

In [16]:
print("El mejor punto para ubicaci√≥n de un centro de distribuci√≥n es de " + str(final) + " puntos de unidad de distancia con las coordenadas X: " + str(initx) +" Y: " + str(inity))

El mejor punto para ubicaci√≥n de un centro de distribuci√≥n es de 19 puntos de unidad de distancia con las coordenadas X: 47.0 Y: 48.0