<a href="https://colab.research.google.com/github/JosePabloGFnl/CEMEX-Hacks-2022/blob/main/Logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib notebook

#csv para las coordenadas de los centros de distribución
coord = pd.read_csv('coord.csv', index_col=0, encoding='latin-1')

In [28]:
#para mostrar el dataframe
coord = coord.reset_index()
coord

     x   y  Valor de costo  Valor de ubicación  Valor de clima
0   60  50              80                 100              90
1   60  50              80                 100              90
2   60  45              70                  80              80
3   50  75              75                  80              75
4   40  30              60                  70              70
5   30  50              50                  60              70
6   60  50              80                 100              90
7   30  50              50                  60              70
8   20  30              60                  30              65
9   40  30              60                  70              70
10  60  45              70                  80              80
11  50  75              75                  80              75

In [29]:
#promedio de x & y para tener un punto inicial
initx = round(coord["x"].mean())
inity = round(coord["y"].mean())

In [30]:
#convertirlo a valores floar para que se haga bien la operación
coord['x'] = coord['x'].astype(float)
coord['y'] = coord['y'].astype(float)
initx = float(initx)
inity = float(inity)

In [31]:
initx

47.0

In [32]:
inity

48.0

In [33]:
#función para operación matemática
def distancia(value):
  round(math.sqrt((initx - value['x']) ** 2 + (inity - value['y']) ** 2))

In [34]:
#distancias entre los promedios de x & y
distancia=[]  
distancia1=[]  
distancia2=[] 
distancia3=[] 
s=[]

for i in coord["x"]:
    dist=(initx - i) ** 2
    distancia.append(dist)
    
for p in coord["y"]:
    dist1=(initx - p) ** 2
    distancia1.append(dist1)
    
def sumaListas(a,b):
    for i in range(len(a)):
        s.append(a[i]+b[i])
    return s

distancia3=sumaListas(distancia,distancia1)

for u in distancia3: 
    dist_sqrt= math.sqrt(u)
    distancia2.append(dist_sqrt)
    
coord["dist"]=distancia2



coord

       x     y  Valor de costo  Valor de ubicación  Valor de clima       dist
0   60.0  50.0              80                 100              90  13.341664
1   60.0  50.0              80                 100              90  13.341664
2   60.0  45.0              70                  80              80  13.152946
3   50.0  75.0              75                  80              75  28.160256
4   40.0  30.0              60                  70              70  18.384776
5   30.0  50.0              50                  60              70  17.262677
6   60.0  50.0              80                 100              90  13.341664
7   30.0  50.0              50                  60              70  17.262677
8   20.0  30.0              60                  30              65  31.906112
9   40.0  30.0              60                  70              70  18.384776
10  60.0  45.0              70                  80              80  13.152946
11  50.0  75.0              75                  80              75  28.160256

In [37]:
coord["Valor Total"] = coord["Valor de costo"] + coord["Valor de ubicación"] + coord["Valor de clima"] + coord["dist"]

In [38]:
coord

,x,y,Valor de costo,Valor de ubicación,Valor de clima,dist,Valor Total
0,60.0,50.0,80,100,90,13.341664,283.341664
1,60.0,50.0,80,100,90,13.341664,283.341664
2,60.0,45.0,70,80,80,13.152946,243.152946
3,50.0,75.0,75,80,75,28.160256,258.160256
4,40.0,30.0,60,70,70,18.384776,218.384776
5,30.0,50.0,50,60,70,17.262677,197.262677
6,60.0,50.0,80,100,90,13.341664,283.341664
7,30.0,50.0,50,60,70,17.262677,197.262677
8,20.0,30.0,60,30,65,31.906112,186.906112
9,40.0,30.0,60,70,70,18.384776,218.384776
10,60.0,45.0,70,80,80,13.152946,243.152946
11,50.0,75.0,75,80,75,28.160256,258.160256

In [44]:
coord = coord.sort_values('Valor Total', ascending=False)
coord = coord.drop_duplicates()
coord

,x,y,Valor de costo,Valor de ubicación,Valor de clima,dist,Valor Total
0,60.0,50.0,80,100,90,13.341664,283.341664
3,50.0,75.0,75,80,75,28.160256,258.160256
2,60.0,45.0,70,80,80,13.152946,243.152946
4,40.0,30.0,60,70,70,18.384776,218.384776
5,30.0,50.0,50,60,70,17.262677,197.262677
8,20.0,30.0,60,30,65,31.906112,186.906112

In [48]:
initx = round(coord["x"].mean())
inity = round(coord["y"].mean())

distancia=[]  
distancia1=[]  
distancia2=[] 
distancia3=[] 
s=[]

for i in coord["x"]:
    dist=(initx - i) ** 2
    distancia.append(dist)
    
for p in coord["y"]:
    dist1=(initx - p) ** 2
    distancia1.append(dist1)

distancia3=sumaListas(distancia,distancia1)

for u in distancia3: 
    dist_sqrt= math.sqrt(u)
    distancia2.append(dist_sqrt)
    
coord["dist"]=distancia2

coord

,x,y,Valor de costo,Valor de ubicación,Valor de clima,dist,Valor Total
0,60.0,50.0,80,100,90,18.384776,283.341664
3,50.0,75.0,75,80,75,32.756679,258.160256
2,60.0,45.0,70,80,80,17.117243,243.152946
4,40.0,30.0,60,70,70,13.341664,218.384776
5,30.0,50.0,50,60,70,14.764823,197.262677
8,20.0,30.0,60,30,65,26.419690,186.906112

In [51]:
coord = coord.reset_index()

In [58]:
#Promedio de la distancia final
index = coord.index
number_of_rows = len(index)

percen = round(number_of_rows / 4)

In [59]:
number_of_rows

6

In [60]:
percen

2

In [61]:
coord = coord.iloc[0:percen]

final = round(coord["dist"].mean())
final

26

In [63]:
print("El mejor punto para ubicación de un centro de distribución es de " + str(final) + " puntos de unidad de distancia con las coordenadas X: " + str(initx) +" Y: " + str(inity))

El mejor punto para ubicación de un centro de distribución es de 26 puntos de unidad de distancia con las coordenadas X: 43 Y: 47